apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-maven-k8s-eks-ec2-v2
  labels:
    app: javaspringmaven
spec:
  replicas: 1
  selector:
    matchLabels:
      app: javaspringmaven
  template:
    metadata:
      labels:
        app: javaspringmaven
    spec:
      containers:
      - name: jekspringwebapp
        image: jchoo/jekspringwebappmavennoagent:v2
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "1Gi" 
            cpu: "0.5"